body {
    background-color: #bccad6;
    /* Green */
    color: #ffffff;
}

.container {
    padding: 16px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
#login_form,#registration_form{
   border:1px solid #ccc;
   margin : 5% 25% 0% 25%; 
   color:white;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

form {
    background-color: #667292;
    opacity: 1;
    margin: 10px;
    padding: 2%;
    border : solid 2px #00c0ef;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    clear: both;
    display: table;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


#group {
    margin-left: 20px;
}